
body {
  font-family: 'Inter', sans-serif;
}

code, .mono {
  font-family: 'IBM Plex Mono', monospace;
}

/* Para CircleSmall */
.circle-small-wrapper {
  position: relative;
  z-index: 20;
}

/* Para notas */
.note-item {
  position: absolute;
  z-index: 5;
}

/* Ocultar scrollbar para elementos con scroll vertical */
.scroll-hidden {
  overflow-y: auto;  /* debe haber scroll para que aparezca */
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}

.scroll-hidden::-webkit-scrollbar {
  display: none;             /* Chrome, Safari y Opera */
}
