@import './styles/themes/theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/animations.css';

html, body {
  margin: 0;
  height: 100%;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  /* Sin transición aquí */
}

#app-container {
  height: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

/* Ocultar scrollbar para elementos con scroll vertical */
.scroll-hidden {
  overflow-y: auto;  /* debe haber scroll para que aparezca */
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}

.scroll-hidden::-webkit-scrollbar {
  display: none;             /* Chrome, Safari y Opera */
}
